@charset "UTF-8";

@media screen and (max-width:768px) {
    
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    input[type="submit"]:hover {
        background-color: rgb(0, 68, 255);
    }
}

@media screen and (max-width: 520px) {
    section {
        border-radius: 0;
    }
}

@media screen and (max-width: 459px) {
    div#form {
        margin-top: 15px;
        text-align: center;
    }

    div#botoes {
        margin-top: 15px;
        display: flex;
        justify-content: center;
    }

    input[type="submit"] {
        padding: 8px;
    }

    ul {
        margin: auto;
        margin-top: 15px;
        text-align: left;
        border: 2px solid greenyellow;
    }

    input#btnF {
        margin: auto;
        margin-top: 15px;
    }
}

@media screen and (max-width: 324px) {
    header > h1 {
        font-size: 10vw;
        margin: 15px 0px 15px 0px;
    }

    label {
        font-size: 5vw;
    }

    input[type="number"] {
        width: 20vw;
    }

    input[type="submit"] {
        font-size: 4vw;
        padding: 7;
    }

    ul {
        width: 60vw;
        font-size: 5vw;
    }

    div#res {
        font-size: 4.5vw;
    }
}