@charset "UTF-8";

body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    color: yellow;
}

section {
    padding: 10px;
    max-width: 500px;
    margin: auto;
    background-color: white;
    color: black;
    border-radius: 10px;
}

select {
    width: 150px;
    display: flex;
}

ul {
    padding-left: 5px;
    list-style: none;
}

input#btnF {
    display: flex;
    margin-top: 15px;
}

div#res {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
}

div#res p {
    margin: 5px;
}

