@charset "UTF-8";

body {
    background-color: black;
    color: white;
    -webkit-tap-highlight-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    color: yellow;
}

section {
    padding: 10px;
    max-width: 500px;
    margin: auto;
    background-color: white;
    color: black;
    border-radius: 10px;
}

select {
    position: relative;
    width: 160px;
    display: flex;
    margin-top: 15px;
    padding: 5px;
    background-color: black;
    outline: none;
    border: 2px solid white;
    border-radius: 10px;
    scrollbar-color: rgb(0, 180, 0) rgb(192, 192, 192);
}

option#msgOpt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

option {
    background-color: black;
    color: lime;
}

input[type="number"] {
    width: 80px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

input#btnA {
    margin-left: 6px;
}

input#delete {
    margin-left: 4px;
}

input[type="submit"] {
    background-color: rgb(0, 68, 255);
    color: white;
    font-weight: bolder;
    border: none;
    border-radius: 6px;
    padding: 6px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(27, 88, 255);
}

ul {
    position: relative;
    height: 100px;
    width: 200px;
    padding-left: 5px;
    list-style: none;
    overflow-y: auto;
    scrollbar-color: rgb(0, 180, 0) rgb(192, 192, 192);
}

div#lista-container {
    position: relative;
}

li#msgLi {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

input#btnF {
    display: flex;
    margin-top: 15px;
}

div#res {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
}

div#res p {
    margin: 5px;
}

div#botoes {
    display: inline-block;
}

