@charset "UTF-8";

body {
    background-color: black;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-tap-highlight-color: transparent;/*tira o destaque de dispositivos móveis*/
}

h1 {
    padding: 0px 20px;
    color: yellow;
}

h2 {
    padding: 0px 20px;
    font-size: 1.3em;
}

img {
    margin-top: 60px;
    width: 200px;
    border-radius: 20px;
    cursor: pointer;
}

p {
    font-size: 1.1em;
}

p#recarregar {
    font-weight: bold;
    font-size: 1.15em;
    color: yellow;
    text-decoration: underline;
    cursor: pointer;
}