@charset "UTF-8";

@media screen and (max-width: 768px) {
    /*retira as setas do tipo number*/
    section input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    
    section input[type="submit"]:hover {
        opacity: 1;
    }

    footer img:hover {
        opacity: 1;
    }
}

@media screen and (max-width: 530px) {
    section {
        border-radius: 0px;
        font-size: 0.9em;
    }
}