@charset "UTF-8";

body {
    margin: 0px;
    padding: 0px;
    -webkit-tap-highlight-color: transparent;
    background-color: black;
    color: white;
    font: normal 15pt Arial;
}

header {
    text-align: center;
    color: yellow;
}

section {
    margin: auto;
    padding: 15px;
    max-width: 500px;
    color: black;
    font-variant: small-caps;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.61);
    border-radius: 10px;
}   

section img {
    box-shadow: 4px 6px 20px 0px rgba(0, 0, 0, 0.61);
    border-radius: 250px;
}

section label {
    display: flex;
    padding-top: 15px;
}

section input[type="number"] {
    margin-left: 4px;
    width: 150px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    transition: border-bottom .3s ease;
}

section input#inicio {
    width: 159px;
}

section input#fim {
    width: 172.5px;
}

section div#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section input[type="submit"] {
    padding: 10px;
    width: 80px;
    font-variant: small-caps;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    background-color: #94999daa;
    cursor: pointer;
}

section input[type="submit"]:hover {
    opacity: 0.8;
}

div#res {text-align: center;}

div#res p.erro {
    margin-top: 0px;
    margin-bottom: 10px;
    color: red;
    font-weight: 500;
}

div#res p.happy {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 1.1em;
    font-weight: bolder;
    color: #09b709;
}

div#res p.erro > strong {font-weight: bolder;}

footer {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

footer p {
    margin-bottom: 10px;
}

footer a {
    color: white;
}

footer img {
    width: 50px;
    cursor: pointer;
}

footer img:hover {
    opacity: 0.8;
}

/*estilos usados no arquivo JavaScript*/
.fade {
    opacity: 0;
}

.visi {
    opacity: 1;
    transition: opacity 1s ease;
}