@charset "UTF-8";

body {
    background-color: black;
    color: white;
    text-align: center;
    -webkit-tap-highlight-color: transparent;/*tira o destaque de dispositivos móveis*/
}

h1 {
    color: yellow;
    font: bolder 1.7em Arial;
}

input#numero {
    width: 80px;
    height: 30px;
    outline: none;
    border: none;
    font-size: 1.1em;
    border-radius: 6px;
}

input#btn {
    height: 30px;
    margin-left: 10px;
    background-color: white;
    font: bolder 0.9em Arial;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

div {
    margin-top: 30px;
}

div p {
    font: bold 1.2em Arial;
}

strong {
    color: yellow;
}