@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    -webkit-tap-highlight-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    margin: 15px 20px 15px 20px;
    text-align: center;
    color: yellow;
}

section {
    padding: 10px;
    max-width: 500px;
    margin: auto;
    background-color: white;
    color: black;
    border-radius: 10px;
}

input[type="number"] {
    width: 80px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

input#btnA {
    margin-left: 6px;
}

input#delete {
    margin-left: 4px;
}

input[type="submit"] {
    padding: 6px;
    background-color: rgb(0, 68, 255);
    color: white;
    font-weight: bolder;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(27, 88, 255);
}

ul {
    position: relative;
    height: 100px;
    width: 200px;
    margin-top: 10px;
    list-style: none;

    /*cria a rolagem quando os itens passam de 100px*/
    overflow-y: auto;

    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    scrollbar-color: rgb(0, 180, 0) rgb(192, 192, 192);
}

li {
    padding: 6px;
    padding-left: 10px;
    color: lime;
}

li:hover {
    background-color: lime;
    color: black;
    font-weight: bold;
}

div#lista-container {
    position: relative;
}

li#msgLi {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;

    /*o elemento não sofre quebra de linha*/
    white-space: nowrap;
}

li#msgLi:hover {
    background-color: black;
    font-weight: normal;
    color: lime;
}

input#btnF {
    display: flex;
    margin-top: 15px;
}

div#res {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
}

div#res p {
    margin: 5px;
}

div#botoes {
    display: inline-block;
}

footer {
    text-align: center;
}

footer p {
    margin-top: 15px;
    margin-bottom: 10px;
}

footer img:hover {
    opacity: 0.8;
}

footer img {
    width: 50px;
    cursor: pointer;
}

/* estilizações usadas no JavaScript */
.animacao {
    transform: scale(0.9);
    transition: 0.2s ease;
    color: #1b58ff;
}

.animationGit {
    width: 40px;
    transition: .1s ease-in-out;
    border-radius: 20px;
}

.animationApagando {
    color: red;
    transition: 0.2s ease-out;
}

.styleErro {
    color: red;
    text-align: center;
}