@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    color: yellow;
}

section {
    max-width: 500px;
    margin: auto;
    background-color: white;
    color: black;
    border-radius: 10px;
}

div#num {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 30px;
    padding-bottom: 20px;
}

div#tipo {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

input[type="number"] {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

input[type="submit"] {
    margin-left: 15px;
    padding: 6px;
    background-color: white;
    font-weight: bold;
    border: 2px solid #1874ff;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease;
    
}

input[type="submit"]:hover {
    background-color: #1874ff;
    color: white;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label:hover {
    border-radius: 15px;
}

input[type="radio"] + label {
    padding: 8px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid #1874ff;
    cursor: pointer;
    transition: 0.2s ease;
}

input[type="radio"]:checked + label {
    background-color: #1874ff;
    color: white;
}

div#res {
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-weight: bold;
}

footer {
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

footer p {
    margin-bottom: 10px;
}

footer img:hover {
    opacity: 0.8;
}

footer img {
    width: 50px;
    cursor: pointer;
}