@charset "UTF-8";

body {
    -webkit-tap-highlight-color: transparent;
    background-color: black;
    color: white;
    font: normal 15pt Arial;
}

header {
    text-align: center;
}

section {
    margin: auto;
    padding: 15px;
    max-width: 500px;
    color: black;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.61);
    border-radius: 10px;
}

input#ano::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input#ano {
    outline: none;
    border: none;
    border-bottom: 1px solid #00000077;
}

p#btn {
    text-align: center;
}

footer {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

footer p {
    margin-bottom: 10px;
}

footer a {
    color: white;
}

footer img {
    width: 50px;
    cursor: pointer;
}