@charset "UTF-8";

body {
    -webkit-tap-highlight-color: transparent;
    background-color: black;
    color: white;
    font: normal 15pt Arial;
}

header {
    text-align: center;
    color: yellow;
}

section {
    margin: auto;
    padding: 15px;
    max-height: 550px;
    max-width: 500px;
    color: black;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.61);
    border-radius: 10px;
}

input#ano::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input#ano {
    max-width: 160px;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 0.9em;
    outline: none;
    border: none;
    border-bottom: 1px solid #00000058;
    transition: 0.5s;
}

input#ano:focus, input#ano:hover {
    border-bottom: 1px solid black;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    padding: 8px;
    margin-left: 10px;
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid #1874ff;
    cursor: pointer;
    transition: 0.2s ease;
}

input[type="radio"]:checked + label {
    background-color: #1874ff;
    color: white;
}

input[type="radio"]:hover + label {
    opacity: 0.8;
}

p#btn {
    margin-top: 35px;
    margin-bottom: 25px;
    text-align: center;
}

input[type="submit"] {
    padding: 15px;
    color: white;
    background-color: #1874ff;
    font-size: 0.9em;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

input[type="submit"]:hover {
    background-color: #1874ffde;
}

footer {
    height: 100px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

footer p {
    margin-bottom: 10px;
}

footer a {
    color: white;
}

footer img {
    width: 50px;
    cursor: pointer;
}

footer img:hover {
    opacity: 0.8;
}