@charset "UTF-8";

body {
    -webkit-tap-highlight-color: transparent;/*tira o destaque de dispositivos móveis*/
    background-color: black;
    color: white;
    font: normal 15pt Arial;
}

header {
    text-align: center;
    color: yellow;
}

section {
    margin: auto;
    padding: 15px;
    max-height: 550px;
    max-width: 500px;
    color: black;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.61);
    border-radius: 10px;
}

section img {
    box-shadow: 4px 6px 20px 0px rgba(0, 0, 0, 0.61);
    border-radius: 250px;
}

/*seleciona todos os input do tipo number
    mesmo que: input#ano{} neste caso
*/
input[type="number"]::-webkit-inner-spin-button {/*tira a seta do tipo number*/
    -webkit-appearance: none;
}

input[type="number"] {
    max-width: 160px;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 0.9em;
    outline: none;
    border: none;
    border-bottom: 1px solid #00000058;
    transition: 0.5s;
}

input[type="number"]:focus, input[type="number"]:hover {/*quando tiver em foco ou o mouse passar em cima*/
    border-bottom: 1px solid black;
}

input[type="radio"] {/*seleciona todos os input do tipo radio*/
    display: none;/*'deleta' a bolinha que tem no radio*/
}

input[type="radio"] + label {/*aplica em todos os label que tem um input tipo radio abaixo*/
    padding: 8px;
    margin-left: 10px;
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid #1874ff;
    cursor: pointer;
    transition: 0.2s ease;
}

input[type="radio"]:checked + label {/*quando algum radio tiver selecionado o label recebe tais configurações*/
    background-color: #1874ff;
    color: white;
}

input[type="radio"]:hover + label {/*quando o mouse passar sobre algum radio o label recebe tais configurações*/
    opacity: 0.8;
}

p#btn {/*parágrafo do botão de verificar*/
    margin-top: 35px;
    margin-bottom: 25px;
    text-align: center;
}

input[type="submit"] {/*botão de verificar*/
    padding: 15px;
    color: white;
    background-color: #1874ff;
    font-size: 0.9em;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

input[type="submit"]:hover {
    background-color: #1874ffde;
}

footer {
    height: 100px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

footer p {
    margin-bottom: 10px;
}

footer a {
    color: white;
}

footer img {
    width: 50px;
    cursor: pointer;
}

footer img:hover {/*quando o mouse passar sobre a imagem do github*/
    opacity: 0.8;
}